*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient( black,  rgb(98, 9, 98), rgb(14, 14, 42));
height: 100vh;

}
section{
    background:url(../img/stars1\ \(1\).png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
/** حدف العناصر عند الوقوف عليها ماعدا واحدة*/
/** aالتأثير على */
ul:hover li a{
    opacity: 0;

}

ul li {
    list-style: none;
    margin: 14px 0;
   
}

ul li a{
    color: wheat;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background:rgb(33, 6, 33) ;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    width: 150px;
    transition: 0.5s;
    position: relative;
    z-index:10px ;


}
/** opacyti 1 حتى يظهر لوحده***/
ul li a:hover{
   background:rgb(93, 29, 93)  ;
 transform: scale(1.1);
 opacity: 1;
}
ul li::after{
    content: attr(data-text);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-size: 80px;
    font-weight: 900px;
    text-transform: capitalize;
    opacity: 0;
    pointer-events: none;


}

ul li:hover::after{
    opacity: 0.5;
}


